<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h3>Create a New Listing </h3>
    <form method="POST" action="./free.html">
        <input type="text" name="title" placeholder="enter title"> 
        <br><br>
        <textarea type="text" name="description" placeholder="enter description"></textarea>
        <br><br>
        <input type="text" name="image" placeholder="enter image URL/Link">
        <br><br>
        <input type="number" name="price" placeholder="enter price">
        <br><br>
        <input type="text" name="location" placeholder="enter location">
        <br><br>
        <input type="text" name="country" placeholder="enter country">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>